.People-Wrapper{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listContainer{
    background-color: blue;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    
    
}
